<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wheelie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EDC169F1D6638A3003693B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EDC16B31D6638A4003693B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EDC16BE1D6638A4003693B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
